default_clustering_config = {
    'clust_mode': 'agg',  # type of clustering model (agg, dbscan, optics)
    'affinity': 'cosine',  # affinity for clustering model
    'linkage': 'average',  # linkage for agg model
    'memory': './cache',  # memory for agg model
}

default_wsi_conf = {
    'data_directory': r'../subst_test/active_subst',
    'files': [
        r"mmm(T)-lemmatized-simple.pkl",
        r"T(mmm)-lemmatized-simple.pkl",
        r"T-and-mmm-lemmatized-simple.pkl",
        r"mmm-and-T-lemmatized-simple.pkl",
    ],
}
default_lemma_conf = {
    'mode': 'default',
}
default_vec_conf = {
    'vec_mode': 'count',
    'comb_mode': 'mean',
    'ood_mode': 'eps',
    'top_k': 150,
    'ood_prob': 1e-7,
    'min_df': 2,
}
default_clustering_conf = {
    'clust_mode': 'agg',  # type of clustering model (agg, dbscan, optics)
    'affinity': 'cosine',  # affinity for clustering model
    'linkage': 'average',  # linkage for agg model
    'memory': './cache',  # memory for agg model
}